.mainContainer {
  height: 100vh;
  /* max-height: 100vh; */
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    45deg,
    rgba(99, 3, 177, 0.4),
    rgba(99, 3, 177, 0.1)
  );
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.diagonal-box {
  background-image: linear-gradient(
    45deg,
    rgba(99, 3, 177, 0.5),
    rgba(255, 0, 153, 0.5)
  );
  transform: skewY(-16deg);
  height: 80%;
  width: 100%;
  z-index: -999;
  border-top-right-radius: 900px;
  border-top-left-radius: 800px;
  position: absolute;
  top: 50%;
  left: 0;
}

.diagonal-box-2 {
  background-image: linear-gradient(
    135deg,
    rgba(99, 3, 177, 0.3),
    rgba(255, 0, 153, 0.25)
  );
  transform: skewY(6deg);
  height: 70%;
  width: 100%;
  z-index: -999;
  border-bottom-right-radius: 1200px;
  border-bottom-left-radius: 900px;
  position: absolute;
  top: -15%;
  left: 0;
}

.videoContainer {
  position: relative;
  cursor: pointer;
}

.videoContainer video {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 3px rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 70vw;
  max-width: 80vw;
  max-height: 70vh;
}

.overlay {
  position: absolute;
  top: 45%;
  left: 0px;
  width: 70vw;
  max-width: 80vw;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
}

.overlay h3 {
  font-family: "Lato";
  font-size: 20px;
}

.title {
  color: white;
  font-size: 64px;
  padding-bottom: 40px;
  font-family: "Lato";
  cursor: pointer;
  transition: 0.3s ease;
}

.title:hover {
    font-size: 72px;
}

.buttonText {
  color: white;
  font-family: "Lato";
  font-size: 18px;
}

p {
  display: inline;
  background-color: black;
  color: white;
  padding: 7px 15px;
  border-radius: 5px;
  text-align: center;
}

.otherText {
  text-align: justify;
  margin: 40px 20px;
}

.keyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.mainButton {
  width: 30%;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(99, 3, 177);
  transition: 0.3s ease;
  border-style: none;
}

.mainButton:hover {
  background-color: rgba(61, 0, 110);
  /* background-color: rgba(255, 0, 153) */
}

.disabledButton {
  width: 30%;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(99, 3, 177, 0.5);
  border-style: none;
}

.helpBar {
  width: 70%;
  padding: 40px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
